<footer class="footer">
  <small>
    takeabreak by <a href="http://github.com/luizcieslak/">Luiz Cieslak</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Help", '#' %></li>
    </ul>
  </nav>
</footer>
