<div class="break" tabindex="1" onmouseup="mouseClick(event)" onkeydown="keyboardPress(event)">
  <h1 id="clock"></h1>
  <h2 id="alert" class="fade-in-out"></h2>
  <h3 id="alert2" class="center fade-in-out-long"></h3>
  <p  id="login" class="center fade-in">Login to earn points!</p>

  <!-- <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:break,url: break_path) do |f| %>

        <%= f.label :points %>
        <%= f.text_field :points, class: 'form-control' %>

        <%= f.submit "Go", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div> -->

</div>
